<header class="watch-charm" id="scroll-up">
  <div class="header-inner container">
    <a href="./index.html" class="header-logo">LuizaRadecka</a>
    <button type="button" class="burger-menu">
      <svg class="burger-menu_svg" width="28" height="14">
        <use href="/img/sprite.svg#burger"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="nav-list-item">
          <a href="./index.html" class="nav-list_link nav-list_main-link"
            >Podologia</a
          >
        </li>
        <li class="nav-list-item">
          <a href="#id-about-us" class="nav-list_link nav-list_main-link"
            >O nas</a
          >
        </li>
        <li class="nav-list-item">
          <a href="#id-catalog" class="nav-list_link nav-list_main-link"
            >Zabiegi</a
          >
        </li>
        <li class="nav-list-item">
          <a href="#id-sale" class="nav-list_link nav-list_main-link">Cennik</a>
        </li>
        <li class="nav-list-item">
          <a href="#id-reviews" class="nav-list_link nav-list_main-link"
            >Pierwsza wizyta</a
          >
        </li>
        <li class="nav-list-item">
          <a href="#contact-us" class="nav-list_link nav-list_main-link"
            >Kontakt</a
          >
        </li>
      </ul>
    </nav>
    <address class="header-socials">
      <ul class="header-socials-list">
        <li class="socials-list-item">
          <a
            href="https://www.facebook.com/groups/1107568979257988/user/100001465504956/"
            class="socials-item-link"
            target="_blank"
          >
            <svg class="header-social__svg" width="20" height="20">
              <use href="/img/icons.svg#icon-facebook11"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item">
          <a
            href="https://www.instagram.com/podolog__krakow/"
            class="socials-item-link"
            target="_blank"
          >
            <svg class="header-social__svg" width="20" height="20">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item">
          <a
            href="https://www.youtube.com/"
            class="socials-item-link"
            target="_blank"
          >
            <svg class="header-social__svg" width="20" height="20">
              <use href="/img/icons.svg#icon-youtube12"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
  <div class="media-menu">
    <div class="media-menu-inner">
      <button class="close-menu" type="button">
        <svg class="close-menu_svg" width="34" height="34">
          <use href="/img/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="media-menu-nav">
        <ul class="media-nav-list">
          <li class="media-list-item">
            <a href="./index.html" class="media-menu-link media-after">Home</a>
          </li>
          <li class="media-list-item">
            <a
              href="#id-about-us"
              class="media-menu-link media-after for-close-1"
              >About Us</a
            >
          </li>
          <li class="media-list-item">
            <a
              href="#id-catalog"
              class="media-menu-link media-after for-close-2"
              >Catalog</a
            >
          </li>
          <li class="media-list-item">
            <a href="#id-sale" class="media-menu-link media-after for-close-3"
              >Sale</a
            >
          </li>
          <li class="media-list-item">
            <a
              href="#id-reviews"
              class="media-menu-link media-after for-close-4"
              >Reviews</a
            >
          </li>
          <li class="media-list-item">
            <a
              href="#contact-us"
              class="media-menu-link media-after for-close-5"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
      <address class="media-socials">
        <ul class="media-socials-list">
          <li class="madia-socials-item">
            <a
              href="https://www.facebook.com/groups/1107568979257988/user/100001465504956/"
              class="media-socials-link"
              target="_blank"
            >
              <svg class="media-social__svg" width="18" height="18">
                <use href="./img/icons.svg#icon-facebook11"></use>
              </svg>
            </a>
          </li>
          <li class="madia-socials-item">
            <a
              href="https://www.instagram.com/podolog__krakow/"
              class="media-socials-link"
              target="_blank"
            >
              <svg class="media-social__svg" width="18" height="18">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="madia-socials-item">
            <a
              href="https://www.youtube.com/"
              class="media-socials-link"
              target="_blank"
            >
              <svg class="media-social__svg" width="18" height="18">
                <use href="/img/icons.svg#icon-youtube12"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>

<!-- <header class="header-up">
  <div class="header-container">
    <a class="header-logo" href="./index.html">LuizaRadecka </a>
    <nav>
      <ul class="header-menu">
        <li><a href="./index.html" class="active">Home</a></li>
        <li><a class="header-menu-item" href="#about">About Us</a></li>
        <li><a class="header-menu-item" href="#catalog">Catalog</a></li>
        <li><a class="header-menu-item" href="#sale">Sale</a></li>
        <li><a class="header-menu-item" href="#reviews">Reviews</a></li>
        <li><a class="header-menu-item" href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>
    <div class="container-media-header">
      <ul class="header-socials">
        <li class="header-social-item">
          <a class="header-link" href="https://www.facebook.com/goITclub">
            <svg class="header-svg" width="21" height="20">
              <use href="./img/icons.svg#icon-facebook11"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a class="header-link" href="https://www.instagram.com/goitclub/"
            ><svg class="header-svg" width="21" height="20">
              <use href="./img/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="header-social-item">
          <a class="header-link" href="https://www.youtube.com/c/GoIT"
            ><svg class="header-svg" width="21" height="20">
              <use href="./img/icons.svg#icon-youtube12"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <button type="button" class="open-menu-btn js-open-menu">
      <svg width="34" height="34">
        <use href="./img/icons.svg#icon-menu-05"></use>
      </svg>
    </button>
  </div>
</header> -->
