<section id="opinie" class="section-reviews">
  <div class="section-reviews-container">
    <h2 class="title-reviews">Opinie</h2>
    <div class="box-reviews">
      <ul class="reviews-list">
        <li class="reviews-item">
          <!-- <img
            srcset="
              /img/mob_img/rev_jonh_mob.png    1x,
              /img/mob_img/rev_jonh_mob@2x.png 2x
            "
            src="/img/mob_img/rev_jonh_mob.png"
            alt="Sylwia"
            class="img-reviews"
          /> -->
          <h3 class="name-reviews">Sylwia</h3>
          <p class="text-reviews">
            "Był to mój pierwszy zabieg podologiczny i pierwsza wizyta w
            gabinecie podologicznym. Zabieg został wykonany delikatnie i
            bezboleśnie, wizyta przebiegła w bardzo miłej atmosferze. Jestem pod
            ogromnym wrażeniem wiedzy, umiejętności i profesjonalizmu Pani
            Luizy. Wyszłam nie tylko z pięknie opracowanymi stopami, ale również
            wzbogacona o wiedzę jak prawidłowo o nie dbać. Dziękuję!"
          </p>
        </li>
        <li class="reviews-item Victoria">
          <!-- <img
            srcset="
              /img/tblet_img/rev_vict_tblet.png    1x,
              /img/tblet_img/rev_vict_tblet@2x.png 2x
            "
            src="/img/tblet_img/rev_vict_tblet.png"
            alt="Agnieszka"
            class="img-reviews"
          /> -->
          <h3 class="name-reviews">Agnieszka</h3>
          <p class="text-reviews">
            "Byłam pierwszy raz Miejsce bardzo przyjazne, bardzo miłe przyjęcie.
            Zabieg podologiczny u Pani Luizy Radeckiej jak zawsze na najwyższym
            poziomie profesjonalizmu niezależnie od miejsca. Jeżeli nie bedę
            zmusza nie oddam się w ręce żadnego innego specjalisty. Relaks na
            fotelu, a efekt fantastyczny. Serdecznie polecam Pokaż mniej"
          </p>
        </li>
        <li class="reviews-item Anastasia">
          <!-- <img
            srcset="
              /img/decst_img/rev_anas_desc.png    1x,
              /img/decst_img/rev_anas_desc@2x.png 2x
            "
            src="../img/decst_img/rev_anas_desc.png"
            alt="Katarzyna"
            class="img-reviews"
          /> -->
          <h3 class="name-reviews">Katarzyna</h3>
          <p class="text-reviews">
            "Pani Luiza to wspaniały specjalista z bardzo dobrym podejsciem do
            dzieci. Gorąco polecam! Wszystko wyjaśni, wytłumaczy, odpowie na
            każde pytanie. Jej wiedza i doświadczenie bardzo pomogły mojej
            córce. Dziękujemy serdecznie, Pani Luizo!"
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
